<launch>
  <arg name="bag" default="/home/jiawei/Workspace/data/Gazebo/square.bag"/>
  <arg name="start_frame" default="0"/>

  <rosparam command="load" file="$(find sos_slam)/calibs/Gazebo/calib.yaml" ns="sos_slam"/>

  <node name="sos_slam" pkg="sos_slam" type="sos_slam_node" output="screen" required="true">
    <param name="calib0" value="$(find sos_slam)/calibs/Gazebo/camera0.txt" />
    <param name="calib1" value="$(find sos_slam)/calibs/Gazebo/camera1.txt" />
    <param name="bag" value="$(arg bag)" />
    <param name="start_frame" value="$(arg start_frame)" />
    <param name="scale_opt_thres" value="8" />
    <param name="weight_imu_dso" value="6" />
    <param name="loop_lidar_range" value="20" />
    <param name="loop_force_icp" value="true" />
    <param name="loop_icp_thres" value="0.5" />
  </node>
  </launch>